
.paintmenu{
    background-color:#c3c3c3;
    width: 100%;
    height: 5%;
    left:0%;
}

.paintmenu h3{
    display: inline;
    margin: 1em;
    font-weight: 100;
    font-family: 'windows95';
}

.mainpaintarea{
    display: flex;
    top:0%;
    left:0%;
    width: 98%;
    height: 75%;
}


.leftpane_paint{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left:0%;
    margin: 0 5px 0 5px;
    height: 100%;
    width: 10%;
    border-style: solid;
    border-color: #A5A5A5;
}


.holder_paint{
    top:0%;
    width: 100%;
    height: 10%;
   display: inline-block;
}

.block{
    top:1%;
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    border-style: outset;
    border-width: 2px;
    border-color: white black black white;

}

#paint_button{
    width: 50%;
    height: 100%;
    display: inline;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #c3c3c3;
} 

.rightpane_paint{

    left:0%;
    height:100%;
    width:90%;
    background-color: white;
    overflow: hidden;
   
}

.container_paint{
    display: flex;
    width: 100%;
    height: 45%;
    margin-top: 10%;
}

.highlight_painttext{
    color: #000082;
}

.container_paint p{
    margin-left:10px;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container_paint img{
    display: inline;
    height: 100%;
    width: 36;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.top{
    width: 100%;
    height: 50%;
}

.bottom{
    width: 100%;
    height: 50%;
}

.colors{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10%;
    margin-top: 0.5em;
    margin-left:6em;
    border: solid 2px #A5A5A5;
  
}

.color_holder{
    height: 100%;
    width: 4vh;
}

